<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META name="description" content="Nos dedicamos a ofrecer soluciones gráficas y de sistemas para su empresa en la web."> 
<meta name="author" content="Valor Digital" /> 
<meta name="organization" content="Valor Digital" /> 
<meta name="Email" content="info@valordigital.com.ar"/> 
<meta name="Copyright" content="Copyright 2005 - 2009 Valor Digital"/> 
<meta name="Distribution" content="Global"/> 
<meta name="Rating" content="General"/> 
<meta name="Language" content="es-ar"/> 
<META name="keywords" content="dise&ntilde;o web,posicionamiento en buscadores,sitios web,dise&ntilde;o de sitios web,argentina,planes de dise&ntilde;o de sitios web,php,mysql,diseño de sitios web,sitio web perzonalizado,paginas web,diseño optimizado,html,css,diseño web,valor digital#1, soluciones graficas#2"> 
<meta name="revisit-after" content="2 Days" /> 
<meta name="ROBOTS" content="ALL" /> 
 
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Valor Digital - Diseño gráfico, web y editorial</title>

<link href="estilos.css" rel="stylesheet" type="text/css" />
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin-top: 0px;
}
-->
</style></head>

<body>
<table width="705" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="media/img_sobre_encabezado.jpg" width="705" height="35" /></td>
  </tr>
  <tr>
    <td><img src="media/img_encabezado.jpg" alt="Valor Fest" width="705" height="125" border="0" usemap="#enc" /></td>
  </tr>
  <tr>
    <td class="fondo_texto"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30">&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="index.php" class="boton_menu{HOME}">Inicio</a></td>
        <td><a href="index.php?s=somos" class="boton_menu{SOMOS}">Somos</a></td>
        <td><a href="index.php?s=mision" class="boton_menu{MISION}">Misión</a></td>
        <td><a href="index.php?s=servicios" class="boton_menu{SERVICIOS}">Servicios</a></td>
        <td><a href="index.php?s=portfolio" class="boton_menu{PORTFOLIO}">Portfolio</a></td>
        <td><a href="index.php?s=contactenos" class="boton_menu{CONTACTENOS}">Contacto</a></td>
        <td width="190">&nbsp;</td>
      </tr>
    </table>      <p>{CONTENIDO}</p></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" class="pie">Tel: 54-351 4802031 | Cel: 54-351 153959926 / 54-11 156523636 | www.valordigital.com | info@valordigital.com<br />
    Copyright &copy; 2006 - 2009 - Valor Digital -</td>
  </tr>
  <tr>
    <td><img src="media/div_pie.jpg" width="705" height="18" alt=" " /></td>
  </tr>
</table>

<map name="enc" id="enc">
  <area shape="rect" coords="251,31,671,114" href="index.php?s=sistema_mailing" class="{SERVICIOS}" alt="Conozca nuestro sistema de mailing" title="Sistema De Mailing, conozca nuestro nuevo servicio" />
</map>
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
var pageTracker = _gat._getTracker("UA-630137-5");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
</body>
</html>
