
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Confirmación de envío de correo</p>
      <p>&nbsp;</p>
      <p>Su mensaje ha sido enviado correctamente. </p>
        <p>En breve nos pondremos en contacto con usted.</p>

      <p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td width="167" align="center" valign="top"><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></td>
  </tr>
</table>
