<link href="../estilos.css" rel="stylesheet" type="text/css" />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Valor Digital - Cada necesidad, un diseño</p>
      <div class="texto">  <p>En un mundo cada día más digitalizado y en constante adaptación a las nuevas tecnologías, es necesario tener una éxitosa presencia en Internet, con recursos, herramientas y servicios que nos diferencien y que logren adaptarse a este entorno dinámico. </p>
      <p>Para dar respuesta a esta necesidad puntual surge <strong>Valor Digital</strong>, una empresa joven dedicada a innovar, crear y brindar soluciones en el mundo WEB.</p>
      <p>Interpretamos sus ideas para satisfacer sus necesidades.</p>
      <p>Gracias por visitarnos.</p>
      <p>Conozca más de nosotros.</p></div>
      <p class="titulos">Promociones especiales</p>
      <p><a href="http://www.valordigital.com/index.php?s=sistema_mailing"><img src="media/img_marketing.jpg" alt="Valor mailer" width="495" height="299" border="0" /></a></p>
      <p><br />
      </p></td>
    <td width="167" align="center" valign="top"><p><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></p>
    <p><form name="mailing" method="post" action="http://www.hostmailing.com/login/class/form.php">
<input name="data" type="hidden" value="660113646323000.347" />
  <table border="0">
    <tr>
      <td align="left" class="subtitulo_newsletter">Suscríbase a nuestro Newsletter</td>
      </tr>
    <tr>
      <td align="left">Email:</td>
    </tr>
    <tr><td align="left"><input name="email" type="text" class="formulario_newsletter" size="20" /></td> </tr>
    <tr>
      <td align="left">Nombre:</td>
    </tr>
    <tr><td align="left"><input name="nombre" type="text" class="formulario_newsletter" size="20" /></td></tr>
    <tr><td align="left"><input name="Submit" type="submit" class="botones" value="Enviar" /></td></tr>
  </table>
</form><!-- Facebook Badge START --><a href="http://www.facebook.com/pages/Valor-Digital/113320402016853" title="Valor Digital" target="_TOP"><img src="http://badge.facebook.com/badge/113320402016853.1655.274025262.png" width="120" height="107" style="border: 0px;" /></a><!-- Facebook Badge END --></td>
  </tr>
</table>
