
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Misión</p>
      <p><strong>Valor Digital</strong>&nbsp;provee a sus clientes, la posibilidad de encontrar lo  que necesita.<br />
        Nuestro objetivo es brindar soluciones integrales en el área de  la comunicación tanto gráfica como digital.<br />
        Trabajamos conjuntamente con nuestros clientes para analizar sus  necesidades y determinar las posibilidades y limitaciones de su proyecto,  construyendo así el camino más efectivo para la realización exitosa del mismo.<br />
        Buscamos la excelencia del producto final, así como la alianza  con la institución y/o empresa que confía y se acerca a nosotros.<br />
  <em>Nuestro trabajo no termina hasta que usted quede  realmente satisfecho, es nuestro compromiso.</em></p>
<p>&nbsp;</p></td>
    <td width="167" align="center" valign="top"><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></td>
  </tr>
</table>
