<link href="../estilos.css" rel="stylesheet" type="text/css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Portfolio - Algunos de Nuestros Trabajos</p>
      <p>Estos son algunos de los trabajos confiados a<em>&nbsp;</em><strong><em>Valor Digital<br /></em></strong><a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Compartir</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></p>
      <div class="ancho_portfolio"><p><img border="0" width="60" height="58" src="../media/loguitos/img_telmcon.jpg" align="left" hspace="5" vspace="5"alt="Telmcon" /><br />
          <strong class="subtitulo">Telmcon</strong> Nuestro Trabajo: Diseño, Sitio dinámico con administrador de <br />
        contenidos 
        desarrollado en Joomla. Aplicaciones en Flash. Apliacaciones de Administración de Idiomas, Administración avanzada de usuarios con permisos especiales, Sistema de carga de archivos y formularios dinámicos.<br />
Actividad: Consultores en Telecomunicaciones<br />
<a href="http://www.telmcon.com.ar" target="_blank" class="link_portfolio" title="Telmcon">[http://www.telmcon.com.ar]</a></p><p><img border="0" width="60" height="58" src="../media/loguitos/img_langer.jpg" align="left" hspace="5" vspace="5"alt="Langer &amp; Acrich" /><br />
          <strong class="subtitulo">Estudio Jurídico Langer &amp; Acrich</strong>Nuestro Trabajo: Diseño y desarrollo del&nbsp;Sitio Web en PHP, HTML y Flash<br />
Actividad: Estudio Jurídico<br />
<a href="http://www.langeracrich.com.ar" target="_blank" class="link_portfolio" title="Langer &amp; Acrich">[http://www.langeracrich.com.ar]</a></p> <p><img border="0" width="60" height="58" src="../media/loguitos/img_trinidad.jpg" align="left" hspace="5" vspace="5"alt="Trinidad" /><br />
          <strong class="subtitulo">Inmobiliaria Trinidad - Sitio en Desarrollo</strong>Nuestro Trabajo: Diseño, desarrollo del Sitio Web en PHP y HTML <br />
Desarrollo de 
        sistema de carga de propiedades<br />
Actividad: Inmobiliaria<br />
<a href="http://www.trinidadinmuebles.com.ar" target="_blank" class="link_portfolio" title="Inmuebles Trinidad">[http://www.trinidadinmuebles.com.ar]</a></p><p><img border="0" width="60" height="56" src="../media/loguitos/img_gracielaavellaneda.jpg" align="left" hspace="5" vspace="5"alt="Graciela Avellaneda" /><br />
          <strong class="subtitulo">Estudio Contable Graciela Avellaneda</strong>Nuestro Trabajo: Diseño, desarrollo del Sitio Web en PHP, HTML y CSS<br />
Desarrollo  de Sistema de Blog<br />
Actividad: Estudio Contable<br />
<a href="http://www.gracielaavellaneda.com.ar" target="_blank" class="link_portfolio" title="Graciela Avellaneda">[http://www.gracielaavellaneda.com.ar]</a></p><p><img border="0" width="60" height="56" src="../media/loguitos/img_prk.jpg" align="left" hspace="5" vspace="5"alt="PRK Inmuebles" /><br />
          <strong class="subtitulo">PRK Servicios Inmobiliarios</strong>Nuestro Trabajo: Diseño, desarrollo del Sitio Web en PHP, HTML y CSS<br />
Desarrollo de 
        sistema de carga de propiedades<br />
Actividad: Inmobiliaria<br />
<a href="http://www.prkinmuebles.com.ar" target="_blank" class="link_portfolio" title="PRK Inmuebles">[http://www.prkinmuebles.com.ar]</a></p>
        <p><img border="0" width="60" height="58" src="../media/loguitos/img_sabroso.jpg" align="left" hspace="5" vspace="5"alt="Lo Mejor de Sabroso" /><br />
          <strong class="subtitulo">Lo Mejor de Sabroso</strong> Nuestro Trabajo: Diseño, Sitio dinámico con administrador de <br />
        contenidos 
        desarrollado en Joomla.  Desarrollo de sistema de administración.<br />
Actividad: Sitio de Banda de Cuarteto<br />
<a href="http://www.lomejordesabroso.com.ar" target="_blank" class="link_portfolio" title="Lo Mejor de Sabroso">[http://www.lomejordesabroso.com.ar]</a></p>
        <img border="0" width="61" height="60" src="media/img_ph.jpg" align="left" hspace="5" vspace="5" alt="PH - Córdoba" /><br />
        <span class="subtitulo"><strong>PH DIGITAL&nbsp;</strong></span><em><strong>Actividad:&nbsp;</strong></em><strong>Primer Portal de Propiedad Horizontal</strong>&nbsp;con información para administradores,  consorcistas, empresas de servicios e inmobiliarias.<br />
Sitio dinámico con administrador de contenidos desarrollado en Joomla<br />
También Valor Digital esta a cargo del diseño de la revista  PH-CÓRDOBA que hace 10 años
que tiene una tirada de 1500 publicaciones que se  distribuyen entre inmobiliarias, <br />
consorcios y administradores inmobiliarios de  la ciudad de Córdoba. <a href="http://www.ph-cordoba.com" target="_blank" class="link_portfolio">[http://www.ph-cordoba.com]</a> 
<p><strong class="subtitulo">Desarrollo de Sistema de búsqueda de Propiedades para el  Portal PH-Córdoba</strong>        HTML, PHP, SPIP<br />
      <a href="http://ph-cordoba.com/spip.php" target="_blank" class="link_portfolio">[http://inmuebles.ph-cordoba.com]</a></p><img border="0" width="60" height="58" src="media/loguitos/img_semade.jpg" align="left" hspace="5" vspace="5" alt="SEMADE" /><br />
        <strong class="subtitulo">SEMADE Ascensores</strong> Nuestro Trabajo: Diseño, desarrollo del Sitio Web en HTML<br />
        Desarrollo 
        de sistema de administración.<br />
Actividad: Soluciones en Transporte Vertical<br />
<a href="http://www.semadeascensores.com.ar" target="_blank" class="link_portfolio" title="SEMADE ASCENSORES">[http://www.semadeascensores.com.ar]</a>
</p><img border="0" width="61" height="60" src="media/img_embajado.jpg" align="left" hspace="5" vspace="5" alt="Embajadores Médicos" /><br /><strong class="subtitulo">Embajadores Médicos</strong><em>Actividad:&nbsp;</em>Sitio Web de  Embajadores Médicos , institutición Cristiana que 
        promueve el desarrollo  Social.<br />
        JOOMLA, FLASH<br />
      <a href="http://www.embajadoresmedicos.org" target="_blank" class="link_portfolio">[http://www.embajadoresmedicos.org]</a></p>
      <p><img border="0" width="61" height="61" src="media/img_gospel.jpg" align="left" hspace="5" vspace="5" alt="Córdoba Gospel Choir" /><br /><span class="subtitulo"><strong>Cordoba Gospel Choir  V.2&nbsp;</strong></span>        Sitio Web del primer coro Gospel de Argentina fiel al estilo de los coros  
        originados en las iglesias americanas negras.<br />
        JOOMLA<br />
      <a href="http://www.cordobagospelchoir.com.ar" target="_blank" class="link_portfolio">[http://www.elcorogospel.com.ar]</a></p><p><img border="0" width="60" height="58" src="media/loguitos/img_ceballos.jpg" align="left" hspace="5" vspace="5" alt="Mariano Ceballos" /><br /><strong class="subtitulo">Mariano Ceballos</strong><em>Nuestro Trabajo:</em><em>&nbsp;Diseño del sitio web para  el violinista clásico-contemporáneo <br />
        Mariano Ceballos.&nbsp;Sitio desarrollado  en HTML y flash</em><em><br />
        <em>Actividad:</em>&nbsp;</em><em>Violinista Cordobés.</em><br />
      <em><a href="http://www.marianoceballos.com" target="_blank" class="link_portfolio" title="Mariano Ceballos">[http://www.marianoceballos.com]</a></em></p>    <p><img border="0" width="60" height="58" src="media/img_camadeus.jpg" align="left" hspace="5" vspace="5" alt="Camerata Amadeus" /><br /><span class="subtitulo"><strong>Camerata Amadeus:</strong><strong></strong></span>Desde  la fecha de su creación (año 200) realizan una importante tarea para la  
        difusión de la música clásica y el tango realizando conciertos en distintos  puntos del país y el exterior.<br />
        HTML, PHP, CSS, FLASH.<strong><br />
      </strong><a href="http://www.camadeus.com.ar" target="_blank" class="link_portfolio">[http://www.camadeus.com.ar]</a></p><p><img border="0" width="60" height="58" src="media/loguitos/img_suzuki.jpg" align="left" hspace="5" vspace="5" alt="Metodo Suzuki" /><br /><strong class="subtitulo">Método Suzuki Córdoba</strong> Nuestro Trabajo: Diseño, desarrollo del Sitio Web en HTML <br />
        Actividad: Escuela de Música<br />
  <a href="http://www.metodosuzukicba.com.ar" target="_blank" class="link_portfolio" title="Método Suzuki de Córdoba">[http://www.metodosuzukicba.com.ar]</a>       </p>
      <p><img border="0" width="60" height="58" src="media/loguitos/img_fac.jpg" align="left" hspace="5" vspace="5" alt="FAC" /><br /><strong class="subtitulo">FAC Aluminio</strong> Nuestro Trabajo: Diseño, desarrollo del Sitio Web en HTML con <br />
        aplicaciones en Flash.<br />
        Actividad: Inmobiliaria<br />
  <a href="http://www.facaluminio.com.ar" target="_blank" class="link_portfolio" title="FAC - Carpintería en aluminio">[http://www.facaluminio.com.ar]</a>
      </p>
      <p><img border="0" width="60" height="58" src="media/loguitos/img_urbe.jpg" align="left" hspace="5" vspace="5" alt="Urbe Propiedades" /><br />
        <strong class="subtitulo"> URBE Propiedades</strong> Nuestro Trabajo: Diseño, desarrollo del Sitio Web en HTML<br />
        Desarrollo de 
        sistema de carga de propiedades<br />
Actividad: Inmobiliaria<br />
<a href="http://www.urbepropiedades.com.ar" target="_blank" class="link_portfolio" title="Urbe Propiedades">[http://www.urbepropiedades.com.ar]</a></p>
      <p><img border="0" width="60" height="58" src="media/img_jorge_cena.jpg" align="left" hspace="5" vspace="5" alt="Inmuebles Jorge Cena" /><br /><strong class="subtitulo">
        Inmuebles Jorge Cena</strong>        Nuestro Trabajo: Diseño, desarrollo del Sitio Web en HTML<br />
Desarrollo de 
        sistema de carga de propiedades<br />
        Actividad: Inmobiliaria<br />
  <a href="http://www.inmueblesjorgecena.com.ar" target="_blank" class="link_portfolio" title="Inmuebles Jorge Cena">[http://www.inmueblesjorgecena.com.ar]</a></p>
      <p><img border="0" width="60" height="58" src="media/loguitos/img_rectinor.jpg" align="left" hspace="5" vspace="5" alt="Rectinor" /><br />
        <strong class="subtitulo"> Rectificadora de autos: RECTINOR</strong> Nuestro Trabajo: Diseño y desarrollo del Sitio Web en HTML<br />
        Actividad: Rectificadora de Autos en Córdoba<br />
  <a href="http://www.rectinor.com.ar" target="_blank" class="link_portfolio" title="RECTINOR">[http://www.rectinor.com.ar]</a></p>
      <p><img border="0" width="60" height="58" src="media/loguitos/img_brezigar.jpg" align="left" hspace="5" vspace="5" alt="Estudio Muñoz Brezigar" /><br /><strong class="subtitulo">Estudio Muñóz Brezigar</strong>        Nuestro Trabajo: Diseño y desarrollo del&nbsp;Sitio Web en HTML<br />
        Actividad: Representantes oficiales de Suzuki en Córdoba<br />
  <a href="http://www.estudiombrezigar.com.ar" target="_blank" class="link_portfolio" title="Estudio Muñóz Brezigar">[http://www.estudiombrezigar.com.ar]</a> 
 <p> <img border="0" width="61" height="60" src="media/loguitos/img_almaazul.jpg" align="left" hspace="5" vspace="5" alt="Alma Azul" />
      <br /><strong class="subtitulo">Complejo de Cabañas Alma Azul</strong><em>Nuestro Trabajo:</em><em>&nbsp;</em><em>Mantenimiento del sitio web</em><em><br />
        <em>Actividad:&nbsp;</em></em><em>Diseño de la imagen y desarrollo  del sitio web para el Complejo <br />
        de Cabañas: Alma Azul, Córdoba, Capilla del  Monte.</em><br />
        Sitio desarrollado en PHP.<br />
      <a href="http://www.almaazul.com.ar" target="_blank" class="link_portfolio" title="Complejo de Cabañas Alma Azul">[http://www.almaazul.com.ar]</a></p>  <img border="0" width="60" height="58" src="media/loguitos/img_city_motor.jpg" align="left" hspace="5" vspace="5" alt="City Moto'r" /><br />
  <strong class="subtitulo">CITY MOTO´R</strong>        Nuestro Trabajo: Diseño y desarrollo del&nbsp;Sitio Web en HTML<br />
        Actividad: Representantes oficiales de Suzuki en Córdoba<br />
      <a href="http://www.citymotorcba.com.ar" target="_blank" class="link_portfolio" title="NS GOURMET">[http://www.citymotorcba.com.ar]</a></p><img border="0" width="54" height="58" src="media/loguitos/img_grupo_nuevamente.jpg" align="left" hspace="5" vspace="5" alt="GRUPO NUEVAMENTE" /><br />
      <strong class="subtitulo">GRUPO NUEVA MENTE</strong>        Nuestro Trabajo: Diseño y desarrollo del&nbsp;Sitio Web en HTML<br />
        Actividad: Grupo cristiano de Nueva Córdoba<br />
      <a href="http://www.gruponuevamente.com.ar" target="_blank" class="link_portfolio" title="Grupo Nueva Mente">[http://www.gruponuevamente.com.ar]</a></p>

    
      </p><img border="0" width="61" height="60" src="media/loguitos/img_clubdecab.jpg" align="left" hspace="5" vspace="5" alt="Club de Cabañas" /><br />
      <p><strong class="subtitulo">Club de Cabañas</strong><em>Nuestro Trabajo:&nbsp;</em>Mantenimiento  y desarrollo del sitio web del Club de Cabañas.<br />
        Diseño de la Revista  del Club de Cabañas<br />
        <em>Actividad:</em>&nbsp;Club de asociados&nbsp;<br />
      <a href="http://www.clubdecab.com.ar" target="_blank" class="link_portfolio" title="Club de Cabañas">[http://www.clubdecab.com.ar]</a></p>
      <p><img border="0" width="60" height="58" src="media/loguitos/img_emc.jpg" align="left" hspace="5" vspace="5" alt="EMColor" /><br />
        <strong class="subtitulo">EMCOLOR</strong><em>Nuestro Trabajo:</em><em>&nbsp;</em>Diseño de papelería  institucional <br />
        (Carpeta, hojas membretadas, tajeta) y diseño del sitio web.&nbsp;<br />
        Sitio  desarrollado en PHP con intro animada en flash<br />
        <em>Actividad:&nbsp;</em>Diseño de la  imagen y desarrollo del sitio web para empresa dedicada a la <br />
        restauración,  decoración y pintura de inmuebles.<br />
        <a href="http://www.emcolor.com.ar" target="_blank" class="link_portfolio" title="EM color - Trabajos de pintura con garantía">[http://www.emcolor.com.ar]</a>      
     
      <p><img border="0" width="60" height="58" src="media/loguitos/img_caraffa.jpg" align="left" hspace="5" vspace="5" alt="Inmobiliaria Caraffa" /><br /><strong class="subtitulo">Inmobiliaria Caraffa</strong><em>Actividad:&nbsp;</em>Rediseño del  Sitio web Institucional<br />
      <a href="http://www.inmo-caraffa.com.ar" target="_blank" class="link_portfolio" title="Inmobiliaria Caraffa">[http://www.inmo-caraffa.com.ar]</a></p>
      

      <p><img border="0" width="61" height="60" src="media/img_ducuron.jpg" align="left" hspace="5" vspace="5" alt="Julio Ducurón" /><br /><span class="subtitulo"><strong>Julio Ducurón&nbsp;</strong></span>        Sitio Web de Julio Ducurón, sitio de su trayectoria de artista y puesta en  escena<br />
de sus obras. Web que combina el movimiento de Flash y la versatilidad  del lenguaje html.<br />
        HTML, FLASH<br />
      <a href="http://www.ducuron.com.ar" target="_blank" class="link_portfolio">[http://www.ducuron.com.ar]</a></p>
    
  
      <p><img border="0" width="60" height="58" src="media/img_ihra.jpg" align="left" hspace="5" vspace="5" alt="Iglesia de las Hermanos de la República Argentina" /><br /><strong class="subtitulo">Iglesia de los  Hermanos de la Republica Argentina</strong>Web  diseñada integramente en sistema dinámico Mambo<br />
        HTML, PHP, CSS, FLASH.<strong><br />
      </strong><a href="http://www.ihra.org.ar" target="_blank" class="link_portfolio">[http://www.ihra.org.ar]</a></p>
      <p><img border="0" width="60" height="58" src="media/loguitos/img_juancolle.jpg" align="left" hspace="5" vspace="5" alt="Juan Colle" /><br /><strong class="subtitulo">Juan Colle</strong>        HTML, PHP, CSS<br />
      <a href="http://www.juancolle.com.ar" target="_blank" class="link_portfolio">http://www.juancolle.com.ar</a></p>  <p><img border="0" width="60" height="58" src="media/loguitos/img_alientocatalogo.jpg" align="left" hspace="5" vspace="5" alt="Aliento del Cielo" /><br /><strong class="subtitulo">Catalogo Online para Aliento del Cielo</strong>        Libro interactivo desarrollado en flash<br />
      <a href="http://www.aliento.com/catalogo/catalogo2007/" target="_blank" class="link_portfolio">http://www.aliento.com/catalogo/catalogo2007/</a> <p><img border="0" width="60" height="58" src="../media/loguitos/img_congresos_condor.jpg" align="left" hspace="5" vspace="5" alt="FQS - Foods Quality &amp; Safety" /><br />
        <strong class="subtitulo">Congresos Condor</strong><em>Nuestro Trabajo:</em><em>&nbsp;</em>Diseño de Isologotipo, diseño y desarrollo  del&nbsp;Sitio Web 
        en HTML<br />
        <em>Actividad:</em><em>&nbsp;</em>Empresa dedicada a organizar  eventos<br />
      <a href="http://www.congresoscondor.com.ar" target="_blank" class="link_portfolio" title="Congresos Cóndor">[http://www.congresoscondor.com.ar]</a><p><img border="0" width="61" height="58" src="media/img_fqs.jpg" align="left" hspace="5" vspace="5" alt="FQS - Foods Quality &amp; Safety" /><br />
      <strong class="subtitulo">FQS - Foods Quality  &amp; Safety</strong>        Consultora en industria alimentaria y nutrición.<br />
        Sitio web de delicadas combinaciones de colores.<br />
        HTML, FLASH<br />
        <a href="http://www.valordigital.com.ar/fqs/" target="_blank" class="link_portfolio">[Ir al sitio]</a>
        <p><img border="0" width="60" height="58" src="media/loguitos/img_ns_gourmet.jpg" align="left" hspace="5" vspace="5" alt="NS GOURMET" /><br />
        <strong class="subtitulo">NS GOURMET</strong> Nuestro Trabajo:&nbsp;Diseño de Isologotipo, diseño y desarrollo  del&nbsp;Sitio Web 
        en HTML<br />
        Actividad:&nbsp;Empresa que brinda servicios de &nbsp;catering
               <br />
     <p><img border="0" width="60" height="58" src="media/loguitos/img_programavivir.jpg" align="left" hspace="5" vspace="5" alt="Programa Vivir" /><br /> <strong class="subtitulo">Programa Vivir - Asociación Civil</strong><em>Nuestro Trabajo:</em>&nbsp;Posicionamiento<br />
        <em>Actividad:&nbsp;</em>El PROGRAMA  VIVIR&nbsp; consiste en una metodología de trabajo basado en la <br />
        psi coeducación  de los pacientes, padres, y todos los que intervienen en la vida de los  drogadependientes<br /><br /> <p><strong class="subtitulo">Rodrigues &amp; Scadutto Turismo - Agencia de Viajes</strong><em>Nuestro Trabajo:</em>&nbsp;Diseño y desarrollo del sitio web, posicionamiento<br />
        <em>Actividad:</em>&nbsp;Sitio Web  Institucional de la agencia de Viajes RSGROUP Turismo <br /><br />
      </p>
      <p><strong class="subtitulo">Disfruta Viajar</strong><em>Actividad:&nbsp;</em>Portal dinámico de viajes a la Argentina.<br /><br />
     
      </p>
      <p><strong class="subtitulo">Berenicce Gandullo</strong>        HTML, FLASH.<br /><br />
       <p><span class="subtitulo"><strong>Centro Privado de Mediación</strong><strong></strong></span><em>Nuestro  Trabajo:</em>&nbsp;Diseño, programación  del sitio web.<br />
        <em>Actividad:&nbsp;</em>Diseño de la  imagen y desarrollo del sitio web para Centro de Mediación: <br />
        Alfil Mediación.<br />
        Sitio desarrollado en PHP.<br /><br /></p>
      
      <p><strong class="subtitulo">Acrich Asociados - Estudio Jurídico:</strong>        HTML, CSS<br /><br />
      </p>
      <p><strong class="subtitulo">Administrador Inmobiliario Gustavo Cornacchione en  desarrollo:</strong>        HTML, PHP, CSS, FLASH.<br /><br />
      </p>
      <p><span class="subtitulo"><strong>Cordoba Gospel Choir V.1&nbsp;</strong></span>        Sitio Web del primer coro Gospel de Argentina fiel al estilo de los coros  originados en las<br />
iglesias americanas negras.<br />
        Web diseñada integramente en Flash.<br /> <br />
      </p>
    
     
      <p class="titulos"><em><strong>Diseños para una empresa colega</strong></em> </p>
      <p><span class="subtitulo"><strong>Ruben Juarez&nbsp;</strong></span>        Sitio para el gran tanguero argentino.<br />
        Diseño y maquetación del sitio en sistema post nuke.<br />
        Animación en flash para intro animada<br />
      http://www.rubenjuarez.net </p>
      <p><strong class="subtitulo">Digital Soluciones</strong>        Colaboración en diseño. Maquetación en html.<br />
        Animación en flash para intro animada<br />
      http://digitalsoluciones.com.ar </p>
      <p><strong class="subtitulo">Dolores de Argentina</strong>        Sitio para proyecto artístico de Dolores Cáceres<br />
        Diseño y desarrollo en flash.<br />
      http://www.doloresdeargentina.com.ar/ </p>
      <p><strong class="subtitulo">SADI - Soc. Argentina de Infectología</strong>        Colaboración en diseño.<br />
        Diagramación y maquetación.<br />
        Flash del encabezado y presentacion.<br />
      http://www.sadi.org.ar/ </p>
      <p><strong class="subtitulo">Mutual MAS - Del ministerio de acción social</strong>        Colaboración en diseño, diagramación y maquetación<br />
    http://www.mutualmas.org </p></div></td>
    <td width="167" align="center" valign="top"><p><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></p>
      <p><!-- Facebook Badge START --><a href="http://www.facebook.com/pages/Valor-Digital/113320402016853" title="Valor Digital" target="_TOP"><img src="http://badge.facebook.com/badge/113320402016853.1655.274025262.png" width="120" height="107" style="border: 0px;" /></a><!-- Facebook Badge END --></p></td>
    </td>
  </tr>
</table>
