<link href="../estilos.css" rel="stylesheet" type="text/css" />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Servicios</p>
      <p> <div class="texto"><strong> Valor Digital</strong>&nbsp;ofrece una amplia gama de servicios digitales para el desarrollo  de su identidad comercial.</p>
      <p><strong>Con nuestros servicios USTED LOGRARÁ:</strong></p>
      <ul>
        <li> Consolidar una sólida imagen institucional y el posicionamiento de una MARCA</li>
        <li> Comunicar sus productos/servicios, brindando detalles de los mismos</li>
        <li>Visitar  puerta a puerta a cada uno de sus clientes potenciales para acercarle información sobre su empresa, productos, servicios, lanzamientos, promociones, novedades, etc, con la efectividad y practicidad de las herramientas virtuales.</li>
        <li>Expandir su presencia en el mercado y de esta forma incrementar sus niveles de ventas </li>
      </ul>
      <p>&nbsp;</p>
      <p><span class="subtitulo"><strong><em>Diseño Web</em></strong></span></p>
      <ul>
        <li>Diseño y desarrollo de sitios webs Autoadministrable</li>
        <li> Diseño y desarrollo de sitios webs Standar</li>
        <li> Diseño y desarrollo de sitios webs Full</li>
        <li> Registro de Dominios</li>
        <li> Posicionamiento y Optimización en Buscadores</li>
        <li> Servicio de Actualizaciones  y Mantenimiento </li>
        <li> Animaciones para presentaciones online</li>
        <li> Catálogo de Productos On Line</li>
        <li> Revistas y Periódicos Virtuales</li>
        <li> Animaciones para Presentaciones On Line</li>
        <li> Web Hosting</li>
        <li> Animación en flash</li>
        <li> Creación de Newsletters</li>
        <li> Gestores de contenido</li>
        <li> Actualizaciones de información gráfica o de contenido</li>
        <li> Rediseño de sitios</li>
        <li> Diseño de banners estáticos y animados</li>
      </ul>
<p><strong class="subtitulo"><em>Servicio de Mailing</em></strong></p>
<ul>
  <li>Este servicio que le permitirá enviar en forma rápida y  sencilla newsletters, notificaciones, avisos, promociones a sus  usuarios o a potenciales clientes, realizar campañas publicitarias, y  cualquier otra utilidad que pueda realizar a través de un E-mail.  Nuestro sistema cuenta con una interfase web donde encontrara todas las  herramientas para llevar a cabo sus envíos, desde la inclusión de las  direcciones de correo, el diseño del email que desea enviar y hasta  completas estadísticas sobre los envíos realizados que le reportarán  una poderosa herramienta de marketing para el seguimiento de sus  campañas.<br />
    Olvídese de realizar envíos de mails y no saber  si realmente obtuvo los resultados esperados, ahora con nuestro sistema  podrá conocer el resultado de sus envíos con completos reportes sobre  su campaña luego de realizada la misma.</li>
</ul>
<p><a href="index.php?s=sistema_mailing" class="boton_verde">Ver más info</a></p>
      <p>&nbsp;</p>
      <p class="subtitulo"><strong><em>Diseño Gráfico</em></strong></p>
      <ul>
        <li>Diseño de imagen corporativa o institucional:<br />
          Logotipos e isotipos</li>
        <li>Papelería institucional (folletos, tarjetas personales, diseños  de sobres, hojas membretadas, afiches)</li>
      </ul>
      <p class="subtitulo"><strong><em>Diseño Editorial</em></strong></p>
      <ul>
        <li>Diseño de revistas</li>
        <li>Diseño de catálogos</li>
        <li>Maquetación de revistas</li>
      </ul>
      <p class="subtitulo"><strong><em>Multimedia</em></strong></p>
      <ul>
        <li>Catálogos virtuales de productos (CD)</li>
        <li>Cds Promocionales</li>
        <li>Memorias y videos corporativos</li>
      </ul>
      <p class="subtitulo">Valor Fest - Anímate a regalar algo diferente y original </p>
      <ul>
        <li><strong>Hacemos el Sitio Web para tu evento</strong> (la historia – fotos- lista de regalos- como llegar- votaciones, firmas)<br />
        </li>
        <li>Videos clip musical para la/los homenajeada/os</li>
        <li>Galería de Fotos on-line a 24hs de tu fiesta</li>
        <li>Diseño de Afiches Fotográficos</li>
        <li>Blog para los homenajeados (la historia – fotos- lista de regalos- como llegar- votaciones, firmas)</li>
        <li>Tarjetas de invitación</li>
        <li>Revistas, Diarios como recordatorio de tu fiesta, souvenirs<br />
        </li>
      </ul>
<p>&nbsp;</p></div>
<p>&nbsp;</p></td>
    <td width="167" align="center" valign="top"><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></p>    
   </p><!-- Facebook Badge START --><a href="http://www.facebook.com/pages/Valor-Digital/113320402016853" title="Valor Digital" target="_TOP"><img src="http://badge.facebook.com/badge/113320402016853.1655.274025262.png" width="120" height="107" style="border: 0px;" /></a><!-- Facebook Badge END --></td>
  </tr>
</table>
