<link href="../estilos.css" rel="stylesheet" type="text/css" />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Sistema de Mailing</p>
      <p><strong>Su empresa necesita crecer, Valor Digital le ofrece esta poderosa herramienta de Marketing<br />
        <i>Consulte nuestros precios. </i></strong></p>
      <p align="center"><a href="index.php?s=contactenos"><img src="media/img_marketing.jpg" alt="Valor mailer" width="495" height="299" border="0" /></a></p>
      <p> <span class="subtitulo"><strong><em>Beneficios del sistema de mailing</em></strong></span></p>
      <ul type="disc">
        <li><em>Acceso al sistema desde cualquier ubicación.</em></li>
        <li><em>Envíos de mails 1 a 1 evitando sean       clasificados como SPAM.</em></li>
        <li><em>C ontadores de envíos y fallas.</em></li>
        <li><em>Historial de mensajes enviados por cada lista.</em></li>
        <li><em>Configuración de filtros personalizados</em></li>
        <li><em>Agendar el envío a una determinada fecha y hora.</em></li>
        <li><em>Mensaje de prueba antes de iniciar el envío</em></li>
        <li><em>Seguimiento del envío, en donde se indica       porcentaje completado, envíos realizados y restantes, velocidad promedio       de envío, estado del envío, envíos fallidos, tiempo transcurrido desde el       inicio y tiempo restante.</em></li>
        <li><em>Posibilidad de eliminar contactos fallidos y       rebotados</em></li>
      </ul>
      <p><span class="subtitulo"><strong><em>El envío contará con los siguientes reportes</em></strong></span>      </p>
      <ul type="disc">
        <li><em>Visualización del resumen completo de los envíos       realizados.</em></li>
        <li><em>Posibilidad de hacer un seguimiento de los       clicks que se hicieron en los links del mensaje.</em></li>
        <li><em>Indicador de envíos realizados, rebotados,       leídos y fallidos.</em></li>
        <li><em>Efectividad de su campaña.</em></li>
        <li><em>Estado del envió.</em></li>
        <li><em>Gráficos de barra con los click únicos y totales       de los links del mensaje.</em></li>
        <li><em>Gráfico de torta con los porcentajes de envíos,       fallidos, rebotados y leídos.</em></li>
        <li><em>Gráfico de barras para la comparación de la       cantidad de lecturas por día del mes.</em></li>
        <li><em>Gráfico de barras para la comparación de la       cantidad de lecturas por día de la semana.</em></li>
        <li><em>Seguimiento de quienes leyeron el mensaje y la       cantidad de veces que lo leyeron.</em></li>
        <li><em>Reporte de lecturas que indica email del       suscriptor, fecha de envío y fecha de la primera lectura.</em></li>
        <li><em>Mails rebotados,  discriminando si fue rebotado temporal o permanente</em></li>
      </ul></td>
    <td width="167" align="center" valign="top"><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></td>
  </tr>
</table>
