<link href="../estilos.css" rel="stylesheet" type="text/css" />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32">&nbsp;</td>
    <td valign="top"><p class="titulos">Quienes Somos</p>
    <p>    <div class="texto">  <strong>Somos una  empresa joven</strong> dedicada a innovar, crear y brindar soluciones en el mundo WEB.</p>
<p><strong>Somos el  nexo conector</strong> entre las pequeñas y medianas empresas y los medios masivos de comunicación.  Conectamos su empresa con el mercado, sea por Internet o por vía grafica. </p>
    <p><strong>Brindamos  un servicio personalizado</strong>, ya que creemos que el éxito de nuestro negocio,  radica en el éxito de nuestros clientes.</p>
    <p><strong>Trabajamos  conjuntamente con nuestros clientes</strong> para analizar sus requerimientos y  determinar las posibilidades y limitaciones de sus proyectos, construyendo así  el camino más efectivo para la realización exitosa del mismo.<br />
      Para lograr  esto, comenzamos por reconocer la necesidad real de los particulares; empresas  o compañías que acuden a nosotros, mediante una fluida comunicación, escuchamos,  analizamos  y asesoramos a quienes nos  eligen para interpretar sus necesidades.<br />
      <br />
      <strong>Buscamos la excelencia del producto final</strong>, así como la alianza estratégica con la institución  y/o empresa que confía y se acerca a nosotros.</p></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td width="167" align="center" valign="top"><p><img src="media/img_globo.jpg" alt="Valor Fest" width="129" height="143" class="img_derecha" /></p>
    <p><!-- Facebook Badge START --><a href="http://www.facebook.com/pages/Valor-Digital/113320402016853" title="Valor Digital" target="_TOP"><img src="http://badge.facebook.com/badge/113320402016853.1655.274025262.png" width="120" height="107" style="border: 0px;" /></a><!-- Facebook Badge END --></p></td>
  </tr>
</table>
