<table width="515" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="media/tit_trabajos.jpg" alt="Trabajos" width="515" height="55" /></td>
  </tr>
  <tr>
    <td>Estos son algunos de los trabajos confiados a <b>Valor Digital<br />
      <br />
    </b></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.ph-cordoba.com" target="_blank"><img src="media/img_ph_digital.jpg" alt="PH - C&oacute;rdoba" width="61" height="60" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><p><b>PH DIGITAL </b><br />
                        <b>Primer Portal de Propiedad Horizontal</b> con informaci&oacute;n para administradores, consorcistas, empresas de servicios e inmobiliarias.<br />
                  Sitio din&aacute;mico con administrador de contenidos desarrollado en Joomla<br />
                  <a href="http://www.ph-cordoba.com" target="_blank">[http://www.ph-cordoba.com</a>]</p>
                    <p>Tambi&eacute;n Valor Digital esta a cargo del dise&ntilde;o de la revista PH-C&Oacute;RDOBA que hace 10 a&ntilde;os que tiene una tirada de 1500 publicaciones que se distribuyen entre inmobiliarias, consorcios y administradores inmobiliarios de la ciudad de C&oacute;rdoba. </p></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td width="50%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.embajadoresmedicos.org" target="_blank"><img src="media/img_foto_embajadores.jpg" alt="Embajadores M&eacute;dicos" width="61" height="60" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><b>Embajadores M&eacute;dicos</b><br />
                  Sitio Web de Embajadores M&eacute;dicos , institutici&oacute;n Cristiana que promueve el desarrollo Social.<br />
                  JOOMLA, FLASH <br />
                  <a href="http://www.embajadoresmedicos.org" target="_blank">[http://www.embajadoresmedicos<br />
                  .org]</a></td>
              </tr>
          </table></td>
          <td width="50%" valign="top" class="texto_trabajos"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.cordobagospelchoir.com.ar" target="_blank"><img src="media/img_tapa_gospel.jpg" alt="C&oacute;rdoba Gospel Choir" width="61" height="61" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><b>Cordoba Gospel Choir V.2 </b><br />
                  Sitio Web del primer coro Gospel de Argentina fiel al estilo de los coros originados en las iglesias americanas negras.
                  <br />
                  JOOMLA<br />
                  <a href="http://www.cordobagospelchoir.com.ar" target="_blank">[http://www.cordobagospelchoir<br />
                    .com.ar]</a></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.ducuron.com.ar" target="_blank"><img src="media/img_foto_ducuron.jpg" alt="Julio Ducur&oacute;n" width="61" height="60" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><b>Julio Ducur&oacute;n </b><br />
                  Sitio Web de Julio Ducur&oacute;n, sitio de su trayectoria de artista y puesta en escena de sus obras. Web que combina el movimiento de Flash y la versatilidad del lenguaje html.<br />
                  HTML, FLASH <br />
                  <a href="http://www.ducuron.com.ar" target="_blank">[http://www.ducuron.com.ar]</a></td>
              </tr>
          </table></td>
          <td class="texto_trabajos"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.valordigital.com.ar/fqs/" target="_blank"><img src="media/img_fqs.jpg" alt="FQS - Foods Quality &amp; Safety" width="61" height="60" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><b>FQS - Foods Quality &amp; Safety</b><br />
                  Consultora en industria alimentaria y nutrici&oacute;n.<br />
                  Sitio web de delicadas combinaciones de colores.<br />
                  HTML, FLASH<br />
                  <a href="http://www.valordigital.com.ar/fqs/" target="_blank">[Ir al sitio]</a></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.camadeus.com.ar" target="_blank"><img src="media/img_camadeus.jpg" alt="Julio Ducur&oacute;n" width="61" height="60" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><b>Camerata Amadeus:<br />
                  </b>Desde la fecha de su creaci&oacute;n (a&ntilde;o 200) realizan una importante tarea para la difusi&oacute;n de la m&uacute;sica cl&aacute;sica y el tango realizando conciertos en distintos puntos del pa&iacute;s y el exterior.<br />
                  HTML, PHP, CSS, FLASH.<b><br />
                  </b><a href="http://www.camadeus.com.ar" target="_blank">[http://www.camadeus.com.ar]</a></td>
              </tr>
          </table></td>
          <td valign="top" class="texto_trabajos"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top" class="linea_gris_trabajos"><a href="http://www.ihra.org.ar" target="_blank"><img src="media/img_ihra.jpg" alt="Iglesia de las Hermanos de la Rep&uacute;blica Argentina" width="61" height="60" border="0" /></a></td>
                <td valign="top" class="texto_trabajos"><b>Iglesia de los Hermanos de la Republica Argentina:<br />
                  </b>Web dise&ntilde;ada integramente en sistema din&aacute;mico Mambo<br />
                  HTML, PHP, CSS, FLASH.<b><br />
                  </b><a href="http://www.ihra.org.ar" target="_blank">[http://www.ihra.org.ar]</a></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td valign="top">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><b>Berenicce Gandullo:</b><br />
            HTML, FLASH.<br />
            <a href="http://www.bereniccegandullo.com.ar/" target="_blank">http://www.bereniccegandullo.com.ar</a></td>
          <td valign="top"><b>Desarrollo de Sistema de b&uacute;squeda de Propiedades para el Portal PH-C&oacute;rdoba</b><br />
            HTML, PHP, SPIP  <br />
            <a href="http://ph-cordoba.com/spip.php" target="_blank">http://inmuebles.ph-cordoba.com</a></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><b>Juan Colle :</b><br />
            HTML, PHP, CSS <br />
  <a href="http://www.juancolle.com.ar" target="_blank">http://www.juancolle.com.ar</a></td>
          <td class="texto_trabajos"><b>Acrichc Asociados - Estudio Jur&iacute;dico:</b><br />
HTML, CSS <br />
<a href="http://www.acrichasociados.com.ar" target="_blank">http://www.acrichasociados.com.ar</a></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top"><b>Estudiantes CBA en desarrollo:<br />
          </b><a href="http://www.estudiantescba.com.ar" target="_blank">http://www.estudiantescba.com.ar</a></td>
          <td class="texto_trabajos"><b>Administrador Inmobiliario Gustavo Cornacchione en desarrollo:</b><br />
            HTML, PHP, CSS, FLASH.<br />
            <a href="http://www.gustavocornacchione.com" target="_blank">http://www.gustavocornacchione.com</a></td>
        </tr>
        <tr>
          <td valign="top">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos"><b>Dinero desde su casa  en desarrollo:</b><br />
            Alta del sitio en buscadores <br />
  <a href="http://www.dinerodesdesucasa.com.ar" target="_blank">http://www.dinerodesdesucasa.com.ar</a></td>
          <td class="texto_trabajos"><b>Cordoba Gospel Choir V.1 </b><br />
Sitio Web del primer coro Gospel de Argentina fiel al estilo de los coros originados en las iglesias americanas negras.<br />
Web dise&ntilde;ada integramente en Flash.<br />
<a href="http://www.cordobagospelchoir.com.ar/index_old.html" target="_blank">http://www.cordobagospelchoir.com.ar/<br />
 index_old.html</a></td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos"><b>Catalogo Online para Aliento del Cielo:</b><br />
            Libro interactivo desarrollado en flash <br />
  <a href="http://www.aliento.com/catalogo/catalogo2007/" target="_blank">http://www.aliento.com/catalogo/<br />
  catalogo2007/</a></td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" valign="top" class="texto_trabajos"><strong>Dise&ntilde;os para una empresa colega </strong></td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos"><strong>Ruben Juarez </strong><br />
            Sitio para el gran tanguero argentino. <br />
            Dise&ntilde;o y maquetaci&oacute;n del sitio en sistema post nuke.<br />
            Animaci&oacute;n en flash para intro animada <br />
            <font color="#006600">http://www.rubenjuarez.net</font><br /></td>
          <td valign="top" class="texto_trabajos"><strong>Digital Soluciones</strong><br />
            Dise&ntilde;o, maquetaci&oacute;n en html.<br />
            Animaci&oacute;n en flash para intro animada<br />
            <font color="#009900">http://digitalsoluciones.com.ar</font></td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos"><strong>Dolores de Argentina</strong><br />
            Sitio para proyecto art&iacute;stico de Dolores C&aacute;ceres<br />
            Dise&ntilde;o y desarrollo en flash.<br />
            <font color="#006600">http://www.doloresdeargentina.com.ar/</font></td>
          <td valign="top" class="texto_trabajos"><strong>SADI - Soc. Argentina de Infectolog&iacute;a</strong><br />
            Dise&ntilde;o, diagramaci&oacute;n y maquetaci&oacute;n.<br />
            Flash del encabezado y presentacion.<br />
            <font color="#006600">http://www.sadi.org.ar/</font></td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos"><strong>UCFA - Uni&oacute;n Cordobesa de Futbol Amateur</strong><br />
            Maquetaci&oacute;n, aplicaciones y mantenimiento por 4 a&ntilde;os<br />
            <font color="#006600">http://www.ucfa.org.ar/</font></td>
          <td valign="top" class="texto_trabajos"><strong>Viga Jeans</strong><br />
            Sitio de marca de ropa <br />
            Dise&ntilde;o, maquetaci&oacute;n y desarrollo integral en Flash.<br />
            <font color="#006600">http://www.vigajeans.com.ar/</font></td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="texto_trabajos">&nbsp;</td>
          <td class="texto_trabajos">&nbsp;</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </td>
  </tr>
</table>
